<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Devices</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
    <link href="css/main.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive1.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="bootstrap/js/angular.min.js"></script>
    <script src="bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid vleleft">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 vlenav">
				<nav class="navbar"/>
						<div class="navbar-header logohead">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leftnav" aria-expanded="false">
								<span class="sr-only"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#" class="pull-left logo"><strong>VLE</strong>  SOLAR LED STREET LIGHT MONITORING SYSTEM</a>
						</div>
						<div class="collapse navbar-collapse" id="leftnav">
							<ul class="nav navbar-nav">
								<li><a href="#/admin"><img src="images/dashboard.png"> <span>Dashboard</span></a></li>
								<li class="active"><a href="#/devices"><img src="images/devices.png"> <span>Devices</span></a></li>
								<!--<li><a href="#/payments"><img src="images/payments.png"> <span>Payments</span></a></li>
								<li><a href="#/accounts"><img src="images/settings.png"> <span>Accounts</span></a></li>
								<li><a href="#/card"><img src="images/settings.png"> <span>Scratchcard</span></a></li>-->
							</ul>
						</div>
				</nav>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 right clearfix">
				<div class="userinfo user-nav clearfix">
					<ul class="list-group pull-right list-inline">
						<!--<li class="list-group-item">SkipperSeil</li>-->
						<li class="list-group-item"><img src="images/logout.png" ng-click="logout()"></li>
					</ul>
				</div>
					<div class="pagehead clearfix">
						<span class="pull-left"> <a href="#/devices"><img src="images/back.png" /></a>Add New Solar System</span>
						<!-- <a href="#" class="btn btn-primary custom-btn pull-right">Add New SHS</a> -->
					</div>
					<div class="pagebody clearfix">
						<div class="customform col-md-8 col-md-offset-2 col-md-offset-right-2 col-sm-12">
						<form name="deviceform" ng-submit="addContact(deviceform.$valid)" novalidate="novalidate">
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.itcSno.$valid && deviceform.$submitted,
										'has-success': deviceform.itcSno.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="itcSno">Solar device id</label>
									<input type="number" name="itcSno" class="form-control" ng-model="contact.itcSno" ng-minlength="2" ng-maxlength="15" required />
									<p class="help-block" ng-show="deviceform.itcSno.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.itcSno.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>


								<div class="form-group" ng-class="
									{	'has-error': !deviceform.itcSkno.$valid && deviceform.$submitted,
										'has-success': deviceform.itcSkno.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="itcSkno">Panel Serial Number</label>
									<input type="number" name="itcSkno" class="form-control" ng-model="contact.itcSkno" ng-minlength="2" ng-maxlength="15" required />
									<p class="help-block" ng-show="deviceform.itcSkno.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.itcSkno.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.itcMno.$valid && deviceform.$submitted,
										'has-success': deviceform.itcMno.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="itcMno">Panel Model Number</label>
									<input type="number" name="itcMno" class="form-control" ng-model="contact.itcMno" ng-minlength="2" ng-maxlength="15" required />
									<p class="help-block" ng-show="deviceform.itcMno.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.itcMno.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.itcMake.$valid && deviceform.$submitted,
										'has-success': deviceform.itcMake.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="itcMake"> panel Make</label>
									<input type="text" name="itcMake" class="form-control" ng-model="contact.itcMake" required />
									<!--<input type="number" name="shsmobilenumber" class="form-control" ng-model="contact.shsmobilenumber" ng-minlength="2" ng-maxlength="10" required />-->
									<p class="help-block" ng-show="deviceform.itcMake.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.itcMake.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>
                              
							  <div class="form-group" ng-class="
									{	'has-error': !deviceform.solarconfig.$valid && deviceform.$submitted,
										'has-success': deviceform.solarconfig.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="solarconfig"> panel power</label>
									<input type="text" name="solarconfig" class="form-control" ng-model="contact.solarconfig" required />
									<!--<input type="number" name="shsownermobilenumber" class="form-control" ng-model="contact.shsownermobilenumber" ng-minlength="2" ng-maxlength="10" required />-->
									<p class="help-block" ng-show="deviceform.solarconfig.$error.required && deviceform.$submitted">This Field is Required</p>
									<!--<p class="help-block" ng-show="deviceform.solarconfig.$error.pattern && deviceform.$submitted">This is Not a Valid Number</p>-->
									<p class="help-block" ng-show="deviceform.solarconfig.$error.number && deviceform.$submitted">Please Enter Valid Data</p>
									
								</div>




								 <div class="form-group"  ng-class="
									{	'has-error': !deviceform.batterySno.$valid && deviceform.$submitted,
										'has-success': deviceform.batterySno.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="batterySno">Battery Serial Number</label>
									<input type="number" name="batterySno" class="form-control" ng-model="contact.batterySno" ng-minlength="2" ng-maxlength="15" required />
									<p class="help-block" ng-show="deviceform.batterySno.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.batterySno.$error.number && deviceform.$submitted">Please Select Option</p>
									
								</div>
                                 <div class="form-group"  ng-class="
									{	'has-error': !deviceform.batteryMno.$valid && deviceform.$submitted,
										'has-success': deviceform.batteryMno.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="batteryMno">Battery Model Number</label>
									<input type="number" name="batteryMno" class="form-control" ng-model="contact.batteryMno" ng-minlength="2" ng-maxlength="15" required />
									<p class="help-block" ng-show="deviceform.batteryMno.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.batteryMno.$error.number && deviceform.$submitted">Please Select Option</p>
									
								</div>




								<div class="form-group" ng-class="
									{	'has-error': !deviceform.batteryMake.$valid && deviceform.$submitted,
										'has-success': deviceform.batteryMake.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="batteryMake">Battery Make</label>
									<input type="text" name="batteryMake" class="form-control" ng-model="contact.batteryMake" required />
									<!--<select type="text" name="batteryMake" class="form-control" ng-model="contact.batteryMake" required>
										<option>Scratch Card</option>
										<option>Credit Card</option>
									</select>-->
									<p class="help-block" ng-show="deviceform.batteryMake.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.batteryMake.$error.number && deviceform.$submitted">Please Select Option</p>
									
								</div>
								<div class="form-group" ng-class="
									{	'has-error': !deviceform.batteryconf.$valid && deviceform.$submitted,
										'has-success': deviceform.batteryconf.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="batteryconf">Battery Configuration</label>
									<input type="text" name="batteryconf" class="form-control" ng-model="contact.batteryconf" required />
									<p class="help-block" ng-show="deviceform.batteryconf.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.batteryconf.$error.number && deviceform.$submitted">Please Enter Valid Name</p>
									
								</div> 
								


                                 <div class="form-group" ng-class="
									{	'has-error': !deviceform.address.$valid && deviceform.$submitted,
										'has-success': deviceform.address.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="address">Address</label>
									<input type="text" name="address" class="form-control" ng-model="contact.address" required />
									<p class="help-block" ng-show="deviceform.address.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.address.$error.number && deviceform.$submitted">Please Enter Valid data</p>
									
								</div> 

								 <div class="form-group" ng-class="
									{	'has-error': !deviceform.Latitude.$valid && deviceform.$submitted,
										'has-success': deviceform.Latitude.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="address">Latitude</label>
									<input type="text" name="Latitude" class="form-control" ng-model="contact.Latitude" required />
									<p class="help-block" ng-show="deviceform.Latitude.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.Latitude.$error.number && deviceform.$submitted">Please Enter Valid data</p>
									
								</div> 
								 <div class="form-group" ng-class="
									{	'has-error': !deviceform.Longitude.$valid && deviceform.$submitted,
										'has-success': deviceform.Longitude.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="address">Longitude</label>
									<input type="text" name="Longitude" class="form-control" ng-model="contact.Longitude" required />
									<p class="help-block" ng-show="deviceform.Longitude.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.Longitude.$error.number && deviceform.$submitted">Please Enter Valid data</p>
									
								</div> 




								<!--<div class="form-group" ng-class="
									{	'has-error': !deviceform.shsalternatemobilenumber.$valid && deviceform.$submitted,
										'has-success': deviceform.shsalternatemobilenumber.$valid && deviceform.$submitted	
									}" >
									<label class="control-label" for="shsalternatemobilenumber"></label>
									<input type="number" name="shsalternatemobilenumber" class="form-control" ng-model="contact.shsalternatemobilenumber" ng-minlength="2" ng-maxlength="10" required />
									<p class="help-block" ng-show="deviceform.shsalternatemobilenumber.$error.required && deviceform.$submitted">This Field is Required</p>
									<p class="help-block" ng-show="deviceform.shsalternatemobilenumber.$error.number && deviceform.$submitted">Please Enter Valid Number</p>
									
								</div>-->
								<div class="form-group form-btn-group">
									<button type="submit" name="shssubmit" class="form-control btn-primary input-primary custom-btn"> Submit </button>
								</div>

							</form>
							
						</div>
					</div>
			</div>
		</div>
	</body>
</html>
