<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link href="../css/main.css" rel="stylesheet">
		<link href="../css/responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link href="css/main.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive1.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="bootstrap/js/angular.min.js"></script>
    <script src="bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container-fluid vleleft">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 vlenav">
				<nav class="navbar"/>
						<div class="navbar-header logohead">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leftnav" aria-expanded="false">
								<span class="sr-only"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#/admin" class="pull-left logo"><img src="images/vlelogo.png"/></a>
						</div>
						<div class="collapse navbar-collapse" id="leftnav">
							<ul class="nav navbar-nav">
								<li class="active"><a href="#/admin"><img src="images/dashboard.png"> <span>Dashboard</span></a></li>
								<li><a href="#/devices"><img src="images/devices.png"> <span>Devices</span></a></li>
								<!--<li><a href="#/payments"><img src="images/payments.png"> <span>Payments</span></a></li>
								<li><a href="#/accounts"><img src="images/settings.png"> <span>Accounts</span></a></li>
								<li><a href="#/card"><img src="images/settings.png"> <span>Scratchcard</span></a></li>-->
							</ul>
						</div>
				</nav>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 right clearfix">
				<div class="userinfo user-nav clearfix">
					<ul class="list-group list-inline">
						<a class="pull-left logo"><strong>VLE</strong> SOLAR LED STREET LIGHT MONITORING SYSTEM</a>
						<li class="pull-right list-group-item"><img src="images/logout.png" ng-click="logout()"></li>
					</ul>
				</div>
					<!-- <div class="pagehead clearfix">
						<span class="pull-left">Devices</span>
						<a href="#" class="btn btn-primary custom-btn pull-right">Add New SHS</a>
					</div> -->
					<div class="pagebody pagebodynew clearfix">
						<div class="tile_blocks clearfix">
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
								<div class="tile orangetile">
								<span><img src="images/totalshs.png"/></span>
								<h1>{{rec1}}</h1>
								<p>Total Solar Street Lights Installed</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
							<div class="tile greentile">
								<span><img src="images/activeshs.png"/></span>
								<h1>{{rec2}}</h1>
								<p>Total Active Street Lights</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
							<div class="tile blacktile">
								<span><img src="images/inactiveshs.png"/></span>
								<h1>{{rec3}}</h1>
								<p>Total Inactive Street Lights </p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
								<div class="tile yellowtile">
								<span><img src="images/unlockedshs.png"/></span>
								<h1>{{rec4}}</h1>
								<p>Total Amount Saved (INR)</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
							<div class="tile redtile">
								<span><img src="images/coemission.png"/></span>
								<h1>{{rec5 | number:4}} KG</h1>
								<p>Cut down on CO2 Emission</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
							<div class="tile violettile">
								<span><img src="images/energy.png"/></span>
								<h1>{{rec6 | number:3}} kWh</h1>
								<p>Total Energy Generated</p>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</body>
</html>
