<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Devices</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- <link href="../css/main.css" rel="stylesheet">
		<link href="../css/responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link href="css/main.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">
    <link href="css/responsive1.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <script src="bootstrap/js/angular.min.js"></script>
    <script src="bootstrap/js/jquery-3.1.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
	</head>
	<body>
		<div class="container-fluid vleleft">
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 vlenav">
				<nav class="navbar"/>
						<div class="navbar-header logohead">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#leftnav" aria-expanded="false">
								<span class="sr-only"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a href="#/admin" class="pull-left logo"><img src="images/vlelogo.png"/></a>
						</div>
						<div class="collapse navbar-collapse" id="leftnav">
							<ul class="nav navbar-nav">
								<li><a href="#/admin"><img src="images/dashboard.png"> <span>Dashboard</span></a></li>
								<li class="active"><a href="#/devices"><img src="images/devices.png"> <span>Devices</span></a></li>
								<!--<li><a href="#/payments"><img src="images/payments.png"> <span>Payments</span></a></li>
								<li><a href="#/accounts"><img src="images/settings.png"> <span>Accounts</span></a></li>
								<li><a href="#/card"><img src="images/settings.png"> <span>Scratchcard</span></a></li>-->
							</ul>
						</div>
				</nav>
			</div>
			<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 right clearfix">
				<div class="userinfo user-nav clearfix">
					<ul class="list-group list-inline">
						<a class="pull-left logo"><strong>VLE</strong>  SOLAR LED STREET LIGHT MONITORING SYSTEM</a>
						<li class="pull-right list-group-item"><img src="images/logout.png" ng-click="logout()"></li>
					</ul>
				</div> 
				<div class="r clearfix">
				<div class="innerpageleft col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="pagehead clearfix">
						<span class="pull-left"> <a href="#/devices"><img src="images/back.png" /></a > ITC S.No {{deviceNumber}}</span>
						 <!--<a ng-click="democlick(1)" ng-show="demoButton" class="btn btn-primary custom-btn pull-right">Demo</a> 
						 <a ng-click="democlick(0)" ng-show="liveButton" class="btn btn-primary custom-btn pull-right">Live</a> -->
				</div>
					<div class="pagebody clearfix">
						<div class="padding0 col-md-12 col-sm-12">
							<div class="tile_blocks tile_padding tile-20-padding clearfix">
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
								<div class="tile tile_userinfo">
								<span><img src="images/pannelicon.png"/></span>
								<h1>Panel Info</h1>
								<!-- <p>skippersail@info.com</p> -->
								<p>Panel Make : {{Panel_Make}}</p>
								<p>Model Number : {{itcMno}}</p>
								<p>Serial No: {{skno}} </p>
								<p>Peak Watt: {{Panel_power}}</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
							<div class="tile tile_userinfo">
								<span><img src="images/batteryicon.png"/></span>
								<h1>Battery Info</h1>
								<!--  <p> {{amtpay}}</p> --> 
								 <p> Make  :    {{ Batt_Make}}</p> 
								 <p> Model No :    {{ Batt_Mno }}</p> 
								 <p> Serial No : {{Batt_Sno}}</p>
								 <p> Voltage : 12 V</p>
								 <p> Capacity: 40 Ah</p>
								 
								 <!--<p> Configuration :  {{ duecost}}</p> -->
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 clearfix tiles">
							<div class="tile tile_userinfo">
								<span><img src="images/customersince.png"/></span>
								<h1>Luminaire</h1>
								<p>LED Power: 16 Watt</p>
								<p> Install on: {{deviceInstalledDate | date: 'medium' }}</p>
								<p> Address : {{Address}}</p>
								<p> Longitude :{{longitude}} </p>
								<p> Latitude : {{latitude}}</p>
								</div>
							</div>
						</div>
						</div>
						<div class="clearfix"></div>
						<div class="tile-20-padding clearfix">
						<div class="device full-device col-md-12 col-sm-12">
							<div class="devicehead">
								
								<img src="images/itc4.jpg"/>
								<!--<p>{{active_color}}</p>-->
								<h2>Device Status: <b ng-class="{'active-color': active_color == true}">{{deviceStatus}}</b></h2>
								<p>{{Devicelaststatus | date: 'medium'}}</p>
							</div> 
							<div class="devicebody clearfix">
								<div class="device_tile device_tile-small col-md-4 col-sm-6 col-xs-12">
									<p>BATTERY VOLTAGE</p>
									<h2>{{V_Batt}} V</h2>
								</div>
								<div class="device_tile device_tile-small col-md-4 col-sm-6 col-xs-12">
									<p> STATE</p>
									<h2>{{State}} </h2>
								</div>
								<div class="device_tile device_tile-small col-md-4 col-sm-6 col-xs-12">
									<p>LAMP OPERATING POWER</p>
									<h2>{{I_V_WAtts }} W</h2>
								</div>
								<!--<div class="device_tile device_tile-small col-md-3 col-sm-6 col-xs-12">
									<p>LOAD CURRENT</p>
									<h2>{{I_Load}} A</h2>
								</div>-->
							</div>
							<!-- <div class="deviceaction">
									<button class="turn-btn" ng-class="{'btn-active':singleDeviceData.shsstatus == 'InActive'}" ng-click="devicestatus('true')">Turn ON</button>
									<button class="turn-btn" ng-class="{'btn-active':singleDeviceData.shsstatus == 'Active'}" ng-click="devicestatus('false')">Turn OFF</button>
							</div> -->
							<div class="deviceaction">
									<button class="turn-btn" ng-class="{'btn-active':singleDeviceData.shsstatus == 'InActive'}" ng-click="devicestatus('true')">Turn ON</button>
									<button class="turn-btn red-btn" ng-class="{'btn-active':singleDeviceData.shsstatus == 'Active'}" ng-click="devicestatus('false')">Turn OFF</button>
							</div>
							<!-- <pre>{{deviceSwitchStatus | json}}</pre> -->

						</div>
						</div>
						<div class="graph-section tile-20-padding clearfix">
						<!-- <h3 class="pull-left">Graphical Representation</h3> -->
							<div class="pull-right">
								 <md-datepicker ng-model="ctrl.myDate" md-placeholder="Select date" md-min-date="ctrl.minDate" md-max-date="ctrl.maxDate"></md-datepicker>
                				 <input type="button" value="Plot Day Graph" ng-click="selectDate(ctrl.myDate)">
                				 <input type="button" value="Plot Week Graph" ng-click="selectWeek(ctrl.myDate)">
							</div>
						</div>
						<div class="map-section tile-20-padding clearfix">
						<div class="no-data" ng-show="noDataActive">{{noData}}</div>
							<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
						<div class="map-section tile-20-padding clearfix last-map-section">
						<div class="no-data" ng-show="noDataActive">{{noData}}</div>
							<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>
						<!--<div class="map-section tile-20-padding clearfix">
							<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
						</div>-->
					</div>
			</div>
					
			</div>
			</div>
			
		</div>
	</body>
</html>
