.vleleft {
    padding: 0 !important;
        height: 100vh;
}
.vlenav {
    padding: 0 !important;
        height: 100%;
    background: #2ac5fe;
}
#leftnav {
    padding: 0;
}
.logo{
    color:#777;
    text-decoration: none;
    
}
.logo strong{
    color:#2ac5fe;
}
.logohead {
    padding: 10px;
    height: 60px;
    vertical-align: middle;
    line-height: 40px;
    background: #fbfbfb;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
#leftnav ul.nav{
    background: #2ac5fe;
    color:#fff;
    width: 100%;
}
#leftnav ul.nav li.active a{
    background: rgba(0, 0, 0, 0.05);
}
#leftnav ul.nav li a:hover{
    background: rgba(0, 0, 0, 0.05);
}
#leftnav ul.nav li{
    width: 100%;
}
#leftnav ul.nav li a{
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 22px 18px;
}
#leftnav ul.nav li a img {
    height: 30px;
    vertical-align: middle;
    line-height:30px;
}
#leftnav ul.nav li a span {
    vertical-align: middle;
    padding: 0 20px;
}
.logohead .navbar-toggle {
    border-radius: 0;
    margin-top: 0;
}
.logohead .navbar-toggle .icon-bar {
    background: #777;
}
#leftnav .navbar-nav {
    margin: 0 !important;
}
.navbar{
    border:0px !important;
}
.user-nav{
    background: #fbfbfb;
    padding: 10px;
    height: 60px;
    vertical-align: middle;
    line-height: 40px;
    box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.35);
}
.userinfo ul{
margin:0 !important;
}
.userinfo ul li {
        padding: 0 0 0 20px;
    background-color: initial !important;
    border: 0px !important;
    font-size:16px;
}
.userinfo ul li img{
    height:25px;
        cursor: pointer;
}
.right{
    padding:0 !important;
}
.pagehead {
    padding: 20px;
    background: #ddd;
}

.pagehead span {
    font-size: 18px;
    vertical-align: middle;
    line-height: 34px;
}
.custom-btn {
    background: #2ac5fe !important;
    border: 0 !important;
    padding: 7px 15px !important;
    border-radius: 50px !important;
}

.custom-btn:hover {
    opacity:0.8;
}
.pagebody {
    height: calc(100vh - 134px);
    overflow: auto;
}
.col-md-offset-right-2{
    margin-right:16.66666667%
}
.col-md-offset-right-1{
    margin-right:8.33333333%
}
.customtable {
    padding-top: 20px;
    padding-bottom: 20px;
    border-spacing: 0;
}

.customtable table thead tr {
    background: #2ac5fe;
}

.customtable table thead tr:nth-child(2) {
    background: #0bbdff;
}

.customtable table thead tr th {
    border: 0px !important;
    padding: 15px;
    color: #fff;
}
.customtable table thead tr th input {
    border: 1.5px solid #fff !important;
    background: transparent;
    box-shadow: none;
    color: #fff !important;
    border-radius: 50px;
}
.customtable table thead tr th input::-webkit-input-placeholder {
   color:#fff;
}
.customtable table thead tr th input::-moz-placeholder {
   color:#fff;
}
.customtable table thead tr th input:-ms-input-placeholder {
   color:#fff;
}
.customtable table thead tr th input:-moz-placeholder {
   color:#fff;
}
.customtable table thead tr th select {
    border: 1.5px solid #fff !important;
    background: transparent;
    box-shadow: none;
    color: #fff !important;
    border-radius: 50px;
}
.customtable table tbody tr td {
    border: 0px !important;
    padding: 15px;
    color: #777;
}
.customtable table tbody tr td a img {
    height: 22px;
}

.tile_blocks {
    padding: 30px;
}
.tile {
    text-align: center;
    background: #ddd;
    padding: 25px;
    min-height: 201px;
    /* margin-bottom: 30px; */
}
.pagebodynew {
    height: calc(100vh - 60px);
    overflow: auto;
}
.tile span img {
    height: 32px;
}
.pagehead span a img {
    height: 20px;
    margin-right: 10px;
    padding: 0 10px;
}

.pagehead span a {
    display: inline-block;
}
.customform form{
    padding:30px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    margin: 30px 0;
} 
.customform form .form-group {padding: 20px 0 0;} 
.customform form .form-group input[type=submit] {
    border-radius: 0 !important;
    padding: 25px !important;
    line-height: 3px;
    font-size: 18px;
}
.customform form .form-group input{
    border-radius: 0 !important;
    border: 0px;
    box-shadow: none;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
    color: #bbb;
} 
.customform form .form-group select{
    border-radius: 0 !important;
    border: 0px;
    box-shadow: none;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
    color: #bbb;
}
.customform form:focus, .customform form:active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12) !important;
}
.customform form .form-group label {
    font-size: 16px;
    font-weight: normal;
    color: #000;
        margin: 0;
}.vleleft {
    padding: 0 !important;
        height: 100vh;
}
.vlenav {
    padding: 0 !important;
        height: 100%;
    background: #2ac5fe;
}
#leftnav {
    padding: 0;
}
.logo{
    color:#777;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    height: 40px;
    text-align: center;
    float: none;
}
.logo strong{
    color:#2ac5fe;
}
.logohead {
    padding: 10px;
    height: 60px;
    vertical-align: middle;
    line-height: 40px;
    background: #fbfbfb;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
#leftnav ul.nav{
    background: #2ac5fe;
    color:#fff;
    width: 100%;
}
#leftnav ul.nav li.active a{
    background: rgba(0, 0, 0, 0.05);
}
#leftnav ul.nav li a:hover{
    background: rgba(0, 0, 0, 0.05);
}
#leftnav ul.nav li{
    width: 100%;
}
#leftnav ul.nav li a{
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 22px 18px;
}
#leftnav ul.nav li a img {
    height: 30px;
    vertical-align: middle;
    line-height:30px;
}
#leftnav ul.nav li a span {
    vertical-align: middle;
    padding: 0 20px;
}
.logohead .navbar-toggle {
    border-radius: 0;
    margin-top: 0;
}
.logohead .navbar-toggle .icon-bar {
    background: #777;
}
#leftnav .navbar-nav {
    margin: 0 !important;
}
.navbar{
    border:0px !important;
}
.user-nav{
    background: #fbfbfb;
    padding: 10px;
    height: 60px;
    vertical-align: middle;
    line-height: 40px;
    box-shadow: 7px 0px 10px rgba(0, 0, 0, 0.35);
}
.userinfo ul{
margin:0 !important;
}
.userinfo ul li {
        padding: 0 0 0 20px;
    background-color: initial !important;
    border: 0px !important;
    font-size:16px;
}
.userinfo ul li img{
    height:25px;
}
.right{
    padding:0 !important;
}
.pagehead {
    padding: 16px;
    background: #ddd;
}

.pagehead span {
    font-size: 18px;
    vertical-align: middle;
    line-height: 34px;
}
.custom-btn {
    background: #2ac5fe !important;
    border: 0 !important;
    padding: 15px 15px !important;
    border-radius: 50px !important;
    height: auto !important;
    font-size: 16px !important;
    width: 200px !important;
    margin: auto;
}

.custom-btn:hover {
    opacity:0.8;
}
.pagebody {
    height: calc(100vh - 134px);
    overflow: auto;
}
.col-md-offset-right-2{
    margin-right:16.66666667%
}
.col-md-offset-right-1{
    margin-right:8.33333333%
}
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}
.customtable {
    padding-top: 40px;
    padding-bottom: 20px;
    border-spacing: 0;
}

.customtable table thead tr {
    background: #2ac5fe;
}

.customtable table thead tr:nth-child(2) {
    background: #0bbdff;
}

.customtable table thead tr th {
    border: 0px !important;
    padding: 15px;
    color: #fff;
}
.customtable table thead tr th input {
    border: 1.5px solid #5a5a5a !important;
    background: transparent;
    box-shadow: none;
    color: #5a5a5a !important;
    border-radius: 50px;
}
.customtable table thead tr th input::-webkit-input-placeholder {
   color:#5a5a5a;
}
.customtable table thead tr th input::-moz-placeholder {
   color:#5a5a5a;
}
.customtable table thead tr th input:-ms-input-placeholder {
   color:#5a5a5a;
}
.customtable table thead tr th input:-moz-placeholder {
   color:#5a5a5a;
}
.customtable table thead tr th select {
    border: 1.5px solid #5a5a5a !important;
    background: transparent;
    box-shadow: none;
    color: #5a5a5a !important;
    border-radius: 50px;
}
.customtable table tbody tr td {
    border: 0px !important;
    padding: 15px;
    color: #777;
    vertical-align: middle;
}
.customtable table tbody tr td a img {
    height: 22px;
}

.customtable table tbody tr td a {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}
.tile_blocks {
    padding: 30px;
}
.tile {
    text-align: center;
    background: #ececec;
    padding: 25px;
    min-height: 317px;
    /* margin-bottom: 30px; */
    color: #fff;
}
.tile h1 {
    font-size: 50px;
    font-weight: 600;
}

.tile p {
    font-size: 16px;
    word-wrap: break-word;
}
.pagebodynew {
    height: calc(100vh - 60px);
    overflow: auto;
}
.tile span img {
    height: 32px;
}
.pagehead span a img {
    height: 20px;
    margin-right: 10px;
    padding: 0 10px;
}

.pagehead span a {
    display: inline-block;
}
.customform form{
    padding:30px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    margin: 30px 0;
} 
.customform form .form-group {padding: 20px 0 0;} 
.customform form .form-group input[type=submit] {
    border-radius: 0 !important;
    padding: 25px !important;
    line-height: 3px;
    font-size: 16px;
        color: #fff;
}
.customform form .form-group input{
    border-radius: 0 !important;
    border: 0px;
    box-shadow: none;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
    color: #bbb;
} 
.customform form .form-group select{
    border-radius: 0 !important;
    border: 0px;
    box-shadow: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    color: #bbb;
}
.customform form .form-group textarea{
    border-radius: 0 !important;
    border: 0px;
    box-shadow: none;
    border-bottom: 2px solid #ddd;
    font-size: 16px;
    color: #bbb;
}
.customform form:focus, .customform form:active {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12) !important;
}
.customform form .form-group label {
    font-size: 16px;
    font-weight: normal;
    color: #000;
        margin: 0;
}
.orangetile {
     /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(180deg, #ff9f52, #fd8625); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(180deg, #ff9f52, #fd8625); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(180deg, #ff9f52, #fd8625); /* For Firefox 3.6 to 15 */
     background: linear-gradient(180deg, #ff9f52, #fd8625); /* Standard syntax */
}
.greentile{
        /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(180deg, #29c2ba, #1ca49d); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(180deg, #29c2ba, #1ca49d); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(180deg, #29c2ba, #1ca49d); /* For Firefox 3.6 to 15 */
     background: linear-gradient(180deg, #29c2ba, #1ca49d); /* Standard syntax */ 
}
.blacktile{
        /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(180deg, #898d99, #60646d); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(180deg, #898d99, #60646d); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(180deg, #898d99, #60646d); /* For Firefox 3.6 to 15 */
     background: linear-gradient(180deg, #898d99, #60646d); /* Standard syntax */ 
}
.yellowtile{
        /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(180deg, #fec606, #dfad00); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(180deg, #fec606, #dfad00); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(180deg, #fec606, #dfad00); /* For Firefox 3.6 to 15 */
     background: linear-gradient(180deg, #fec606, #dfad00); /* Standard syntax */ 
}
.redtile{
        /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(180deg, #ff7c82, #fc575e); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(180deg, #ff7c82, #fc575e); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(180deg, #ff7c82, #fc575e); /* For Firefox 3.6 to 15 */
     background: linear-gradient(180deg, #ff7c82, #fc575e); /* Standard syntax */ 
}
.violettile{
        /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(180deg, #997cf7, #7b5edc); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(180deg, #997cf7, #7b5edc); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(180deg, #997cf7, #7b5edc); /* For Firefox 3.6 to 15 */
     background: linear-gradient(180deg, #997cf7, #7b5edc); /* Standard syntax */ 
}
.table {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}
.table:active,.table:focus {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08) !important;
}
.customtable table thead tr:nth-child(2) th {
    text-transform: uppercase;
}
.r .pagebody {
    /* height: 100%; */
}

.r {
    /* height: calc(100vh - 60px); */
    /* overflow: auto; */
}

.iprhead h3 {
    background: #bfbfbf;
    margin: 0;
    padding: 26px 20px;
    font-size: 20px;
}

.iprbody ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.iprbody ul li {
    padding: 20px;
    border-bottom: 1px solid #c7c7c7;
}

.iprbody {
    background: #f9f9f9;
    /* height: 100%; */
    height: calc(100vh - 134px);
    overflow: auto;
}
.innerpageright {
    padding: 0 !important;
    /* height: 100% !important; */
}
.libtns input[type="submit"] {
    background: #ddd;
    border: 0;
    display: block;
    padding: 18px;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    max-width: 200px;
    margin-bottom: 20px;
}
.blue_btn {
    background: #2ac5fe !important;
    color: #fff !important;
}
.padding0{
    padding:0 !important;
}
.tile_padding {
    padding: 20px 0;
}
.tile_userinfo span img {
    height: auto;
}

.tile_userinfo {
    color: #46404b;
    min-height: 317px !important;
    margin-bottom: 0 !important;
}
.tile_userinfo h1 {
    font-size: 22px;
}

/*Toggle Button CSS Starts*/

.inactiveMixin {
  content: "";
  position: absolute;
  display: block;
}
.beforeAnimation {
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
}
.afterAnimation {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
}
.toggleWrapper {
  margin: auto;
  padding: 20px;
  width: 120px;
  text-align: center;
  overflow: hidden;
}
.toggleWrapper input.mobileToggle {
  opacity: 0;
  position: absolute;
  width: 80px;
  height: 45PX;
}
.toggleWrapper input.mobileToggle + label {
  position: relative;
  display: inline-block;
  user-select: none;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  -webkit-tap-highlight-color: transparent;
  height: 45px;
  width: 80px;
  border: 1px solid #e4e4e4;
  border-radius: 60px;
}
.toggleWrapper input.mobileToggle + label:before {
  content: "";
  position: absolute;
  display: block;
  -moz-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -o-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  -webkit-transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  transition: 0.2s cubic-bezier(0.24, 0, 0.5, 1);
  height: 45px;
  width: 80px;
  top: 0;
  left: 0;
  border-radius: 30px;
}
.toggleWrapper input.mobileToggle + label:after {
  content: "";
  position: absolute;
  display: block;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0px 0 rgba(0, 0, 0, 0.04), 0 4px 9px rgba(0, 0, 0, 0.13), 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -o-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  -webkit-transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  transition: 0.35s cubic-bezier(0.54, 1.6, 0.5, 1);
  background: whitesmoke;
  height: 42px;
  width: 42px;
  top: 1px;
  left: 0px;
  border-radius: 60px;
}
.toggleWrapper input.mobileToggle:checked + label:before {
  background: #2ecc71;
  -moz-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  -o-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  -webkit-transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
  transition: width 0.2s cubic-bezier(0, 0, 0, 0.1);
}
.toggleWrapper input.mobileToggle:checked + label:after {
  left: 36px;
}
/*Toggle Button CSS Ends*/

.device {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background: #fbfbfb;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
    padding: 0 !important;
        margin-top: 20px;
    margin-bottom: 50px;
}
.device:active, .device:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22) !important;
}
.devicehead {
    text-align: center;
    padding: 30px;
    background: #fff;
}
.devicebody {
    background: #f5f5f5;
}

.device_tile {
    text-align: center;
    padding: 50px 20px;
    font-size: 19px;
}
.deviceaction {
    background: #f5f5f5;
    text-align: center;
    padding-bottom: 30px;
}
.loginnav {
    padding: 10px;
    height: 60px;
    vertical-align: middle;
    line-height: 40px;
    background: #fbfbfb;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    text-align: center;
}
.loginnav:active, .loginnav:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35) !important;
}
.signupbtn {
    padding: 0 30px;
    background: #2ac5fe;
    color: #fff;
    border-radius: 50px;
}
.main_bg {
    height: 100vh;
    background: url(../images/loginbg.png) 50% 50% repeat;
    background-size: cover;
}
.loginform {
    width: 100%;
    max-width: 500px;
    margin: 200px auto 0;
    background: #fff;
    /* padding: 20px; */
}

.companylogos {
    padding: 30px 20px 20px;
    background: #000;
}
.companylogos .pull-left img {
    height: 70px;
}

.companylogos .pull-right img {
    height: 90px;
}
.loginform .form-group input[type="submit"] {
    width: 320px;
    margin: 30px auto;
    padding: 16px !important;
    height: auto;
    font-size: 18px;
    border-radius: 5px !important;
}
.loginform .form-group input[type="text"] {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #777;
    border-radius: 0;
    color: #777;
}
.loginform .form-group{padding: 10px 0 25px;}
span.cardstatus {
    display: none;
}

span.backactive_label {
    display: block;
}
button.usebtn {
    display: none;
    background: #2ac5fe;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    min-width: 70px;
}
button.backactive_label {
    display: block;
}
form.addform input {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    padding-top: 0;
}

form.addform .form-group {
    padding-bottom: 45px;
    margin: 0;
}

form.addform .form-group.form-btn-group {
    text-align: center;
    padding-bottom: 10px;
}

.form-btn {
    background: #ddd;
    border: 0;
    padding: 12px 20px;
    min-width: 150px;
    border-radius: 45px;
    font-size: 16px;
    font-weight: 600;
}

.green-nav-btn.form-btn {
    background: #06d090 !important;
    color: #fff !important;
}
form.addform input {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #333;
    border-radius: 0;
    padding-top: 0;
}

form.addform .form-group {
    padding-bottom: 45px;
    margin: 0;
}

form.addform .form-group.form-btn-group {
    text-align: center;
    padding-bottom: 10px;
}

.form-btn {
    background: #ddd;
    border: 0;
    padding: 12px 20px;
    min-width: 150px;
    border-radius: 45px;
    font-size: 16px;
    font-weight: 600;
}

.green-nav-btn.form-btn {
    background: #06d090 !important;
    color: #fff !important;
}

.modal-header {
    background: #2ac5fe;
    color: #fff;
    margin-bottom: 25px;
}

.modal-content {
    border-radius: 0;
    border: 0;
}
.close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    opacity: 1;
}
.form-control button{
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-btn-group {
    text-align: center !important;
    margin: auto;
}
.pagehead a.custom-btn {
    padding: 10px 15px !important;
    font-size: 15px !important;
    width: auto !important;
}
.turn-btn {
    background: #2ac5fe;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 12px 20px;
    width: 200px;
    border-radius: 50px;
    margin: auto;
    display: none;
    border: 0;
    box-shadow: none;
}

.btn-active {
    display: inline-block !important;
}
.red-btn {
    background: #ff3838;
}
.userinfo ul li:first-child {
    font-weight: bold;
    text-transform: uppercase;
    color: #777;
}
.tile-20-padding {
    padding: 50px 80px 0;
}
.full-device {
    max-width: 100% !important;
    margin: 0;
}
.device_tile-small {
    padding: 40px 30px 0;
}
.form {
    padding: 40px 40px 0;
}
.devicehead img {
    height: auto;
}
div#container {
    background: #f5f5f5 !important;
}
.highcharts-background {
    fill: transparent;
}

div#container1 {
    background: #e4e4e4;
}
.active-color {
    color: #00c747 !important;
}

.devicehead h2 b {
    color: #f00;
}
.loginform span {
    display: block;
    text-align: center;
    color: #f00;
    padding-bottom: 20px;
}
.tile_userinfo span {
    display: block;
    min-height: 55px;
}
.graph-section>h3 {
    margin: 0;
    padding: 5px 0;
}
button.md-datepicker-button.md-icon-button.md-button.md-ink-ripple {
    display: none !IMPORTANT;
}
md-datepicker {
    width: 100%;
}

.md-datepicker-input-container {
    /* width: calc(100% - 105px); */
    margin: 0 !important;
    padding: 11px 8px 8px;
}

.graph-section input[type="button"] {
    background: #2ac5fe;
    border: 1px solid #2ac5fe;
    color: #fff;
    padding: 10px 15px;
    /* width: 100px; */
}

.md-datepicker-triangle-button.md-button.md-icon-button {
    margin: 0;
    padding: 0;
    right: 15px;
    top: 30%;
}
.map-section {
    position: relative;
    overflow: hidden;
}

.no-data {
    position: absolute;
    background: #dddddd;
    width: calc(100% - 160px);
    height: calc(100% - 20px);
    z-index: 9;
    color: #444;
    font-size: 20px;
    text-align: center;
    padding-top: 150px;
}
.tiles .tile {
    min-height: auto;
    margin-bottom: 30px;
}
.logo-image img {
    height: 40px;
}
.userinfo ul .logo {
    padding-left: 30%;
}
.logo img {
    height: 40px;
}
.last-map-section {
    padding-bottom: 50px;
}

text.highcharts-credits {
    display: none;
}