@media (max-width: 1000px){
    .tile-20-padding{
      padding: 20px;
    }
}
@media (max-width:992px){
.col-md-offset-right-2,.col-md-offset-right-1{
    margin-right:0;
}
.r {
    height: calc(100vh - 60px);
    overflow: auto;
}
.r .pagebody {
    height: 100%;
}
}
@media (max-width:768px){
.vlenav {
    height: auto;
	    position: fixed;
    z-index: 99;
}
.navbar {
    margin-bottom: 0px !important;
}
.pagebody {
    height: 100%;
    overflow: initial;
}
.right{
	    height: calc(100vh - 60px);
    overflow: auto;
}
.user-nav{
	display:none;
}
}

@media screen and (max-width: 767px){
.table-responsive {
   border: 0px; 
}
.customtable {
    padding-top: 30px;
    padding-bottom: 0;
}
.no-data {
    width: 95%;
    height: calc(100% - 20px);
}
.tile_blocks .tiles {
    margin-bottom: 20px;
}
}
/*@media (max-width:680px){
.tile_blocks .tiles {
    margin-bottom: 20px;
}
}*/
@media (max-width:520px){
.tiles {
    width: 100% !important;
}
.tile_blocks {
    padding: 10px 0;
}
.graph-section input[type="button"] {
    width: 100%;
    margin: 10px 0 0;
}
.md-datepicker-input-container {
    width: 100%;
}
.tiles .tile {
    min-height: auto !important;
}
.tile_userinfo h1 {
    font-size: 18px;
}
.tile p {
    font-size: 14px;
}
.devicehead {
    padding: 10px;
    overflow: hidden;
}
.devicehead h2 {
    font-size: 18px;
}
.devicehead p {
    font-size: 13px;
}
.device_tile-small {
    padding: 20px 0 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.device_tile-small h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}
.deviceaction {
    padding-bottom: 0;
}
g.highcharts-input-group {
    display: none;
}
}
