@media (max-width: 1000px){
    .tile-20-padding{
      padding: 20px;
    }
}
@media (max-width:768px){
    .logo {
    text-align: center;
    padding: 15px;
    float: none !important;
}

.ruser{
    padding:0;
    text-align: center;
    background: rgba(0, 0, 0, 0.03);
}
.ruser .navbar {
    margin: 0;
    width: 100%;
}
.ruser ul li {
    display: inline-block;
    width: 49%;
    padding: 0;
}
.ruser ul li.username {
    text-align: left;
}

.ruser ul li.logout {
    text-align: right;
}
.row.topnav{
	margin:0;
	padding:20px 0;
}
.ruser .navbar-nav {
    margin: 0;
    padding: 20px 5px;
}
.ruser ul li a img {
    height: 22px;
}
.topnav {
       padding: 0 0 !important;
}
}
@media (max-width:680px){
.tile_blocks .tiles {
    margin-bottom: 20px;
}
}
@media (max-width:520px){
.tiles {
    width: 100% !important;
}
.tile_blocks {
    padding: 10px 0;
}
}
